/*
 * MSIUL version 0.1-alpha
 *
 * Please, see the doc/AUTHORS for more information about authors!
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
		
/* TOP MENU */

.menu_top { height: 99.8%; width: 99.8%; }
	.menu_top ul { padding: 0px; margin: 0px; list-style-type: none; }

		.menu_top ul li { position: relative; float:left; padding: 0px 15px; }
		.menu_top ul li.profile { float: right; }
		.menu_top ul li.logout { float: right; }
		.menu_top ul li a { display: block; text-decoration: none; color: #2F2F2F; margin: 5px auto; }

/* RIGHT MENU */

.menu_right { height: 99.8%; width: 99.8%;}
	.menu_right ul { padding: 0px; margin: 0px; list-style-type: none; }
	
		.menu_right ul li a { display: block; text-decoration: none; color: #2F2F2F; padding: 1% 0 0 5%; }

			.menu_right ul li ul { margin-left: 9%;}
	
	.menu_right li:hover ul, .menu_top li a:hover ul {  }		
	.menu_right ul li ul li a:hover { background-color: #d9f8dc; }
