/*
 * MSIUL version 0.1-alpha
 *
 * Please, see the doc/AUTHORS for more information about authors!
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
        
/* TOP MENU */
.top_menu { height: 99.8%; width: 99.8%; }
    .top_menu ul { padding: 0px; margin: 0px; list-style-type: none; }

        .top_menu ul li { position: relative; float:left; padding: 0px 15px; }
        .top_menu ul li.logout { float: right; }
        .top_menu ul li.profile { float: right; }
        .top_menu ul li.search { float: right; }
        .top_menu ul li a { display: block; text-decoration: none; color: #2F2F2F; margin: 5px auto; }

/* RIGHT MENU */
.right_menu { height: 99.8%; width: 99.8%;}
    .right_menu ul { padding: 5px; list-style-type: none; }
    
        .right_menu ul li a { display: block; text-decoration: none; color: #2F2F2F; padding: 1% 0 0 5%; }

            .right_menu ul li ul { margin-left: 9%;}
    
    .right_menu li:hover ul, .top_menu li a:hover ul {  }        
    .right_menu ul li ul li a:hover { background-color: #d9f8dc; }
