body, form, table, input, select {
    background: #E0E9EE;
}

.top_container {
    border: 1px solid #94D4F3;
    background-color: #CEE3EE;
}

.right_container {
    border: 1px solid #94D4F3;
    background-color: #CEE3EE;
}

input, select, textarea {
    background-color: #fbfbfb;
}

.button {
    background-color: #f2f2f2;
}

.msg {
    border: 1px solid #94D4F3;
    background-color: #CEE3EE;
}

table, tr, td, th {
    border: 1px solid #94D4F3;
}

tr.header_top {
    background-color: #CEE3EE;
}

tr.header {
    background-color: #CEE3EE;
}

tr.even_row { }
tr.odd_row {
    background-color:#CEE3EE;
}

/* RIGHT MENU */
.right_menu ul li ul li a:hover {
    background-color: #E0E9EE;
}

/* login */
.login_container {
    border:1px solid #94D4F3;
    background: #CEE3EE;
}

.login_input {
    box-shadow: inset 0px 1.5px 3px #2F2F2F, 0 0 0 5px #A6D1E6;
}
